.track-info-container {
    font-family: 'Roboto', sans-serif;
}

.track-info-container__body {
    display: flex;
    flex-direction: column;
}

.track-info-container__first, .track-info-container__second {
    display: flex;
}

.track-info-container__tabs {
    flex: 1 1;
    margin: 2rem;
}

.track-info-container__tabs__title {
     font-weight: 500;
     border-bottom: 1px solid #ccc;
     padding-bottom: .3rem;
     padding-left: 1rem;
}

.track-info-container__tabs__body {
    margin-top: 1rem;
}

.track-info-container__campaign_content {
    width: 60%;
}
