.track-info-container {
    font-family: 'Roboto', sans-serif;
}

.track-info-container__header {
    /*border-bottom: 1px solid #ccc;*/
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track-info-container__right-container {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.track-info-container__right-container div {
    text-align:center;
    margin-left: 10px;
}

.track-info-container__body {
    display: flex;
    flex-direction: column;
}

.track-info-container__first, .track-info-container__second {
    display: flex;
}


.track-info-container__campaign {
    width: 40%;
    margin: 2rem;
}

.track-info-container__campaign__title {
    color: #DB5643;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.track-info-container__track {
    display: flex;
    align-items: center;
}

.track-info-container__track__avatar {
    width: 4rem;
    height: 4rem;
}

.track-info-container__track__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.track-info-container__track__song {
    margin-left: 1.5rem;
}

.track-info-container__track__song__title {
    font-weight: 500;
    padding-bottom: .3rem;
    font-size: 2rem;
}

.track-info-container__track__album {
    color: #949494;
}

.track-info-container__owner-container__title {
    color: #DB5643;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    margin: 1rem 0;
}

.track-info-container__owner {
    display: flex;
    align-items: center;
}

.track-info-container__owner__avatar {
    width: 3rem;
    height: 3rem;
}

.track-info-container__owner__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.track-info-container__owner__data {
    margin-left: 1.5rem;
}

.track-info-container__owner__name {
    font-weight: 500;
    padding-bottom: .3rem;
}

.track-info-container__owner__location {
    font-size: .9rem;
    color: #949494;
}

.track-info-container__progress {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.track-info-container__progress div {
    padding: .7rem 2.5rem;
    background-color: #eee;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.track-info-container__progress div:first-child {
    margin-left: 0;
}

.track-info-container__progress div:last-child {
    margin-right: 0;
}

.track-info-container__progress div span {
}

.track-info-container__progress__main {
    font-size: 1.0rem;
    font-weight: 600;
    color: #111111;
    margin-top: .3rem;
}

.track-info-container__progress__details {
    font-size: .7rem;
    font-weight: 500;
    color: #949494;
    margin-top: .3rem;
}

.track-info-container__back-song-btn {
    width: 100%;
    text-align: center;
    padding: .7rem;
    margin-top: 2rem;
    background-color: #DB5643;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
}

.track-info-container__back-song-btn:hover {
    background-color: #a3513e;
}

.track-info-container__tabs {
    flex: 1 1;
    margin: 2rem;
}

.track-info-container__tabs__title {
     font-weight: 500;
     border-bottom: 1px solid #ccc;
     padding-bottom: .3rem;
     padding-left: 1rem;
}


.track-info-container__tabs__body {
    margin-top: 1rem;
}

.track-info-container__comment__text {
    margin-top: .5rem;
}

.track-info-container__campaign_content {
    width: 60%;
}

.track-info-container__share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: all .2s ease-in;
}

.track-info-container__share_fav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    transition: all .2s ease-in;
}

.track-info-container__share_link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    transition: all .2s ease-in;
}

.track-info-container__share_image {
    height: 17px;
}

.track-info-container__share_image img {
    width: 100%;
    height: 100%;
}
