.track-info-container {
    font-family: 'Roboto', sans-serif;
}

.track-info-container__header {
    /*border-bottom: 1px solid #ccc;*/
    padding: 2rem 4rem;
}

.track-info-container__body {
    display: flex;
    flex-direction: column;
}

.track-info-container__first, .track-info-container__second {
    display: flex;
}

.track-info-container__video {
    width: 60%;
}

.track-info-container__campaign {
    margin: 2rem;
}

.track-info-container__campaign__title {
    color: #DB5643;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.track-info-container__track {
    display: flex;
    align-items: center;
}

.track-info-container__track__avatar {
    width: 4rem;
    height: 4rem;
}

.track-info-container__track__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.track-info-container__track__song {
    margin-left: 1.5rem;
}

.track-info-container__track__song__title {
    font-weight: 500;
    padding-bottom: .3rem;
    font-size: 2rem;
}

.track-info-container__track__album {
    color: #949494;
}

.track-info-container__owner-container__title {
    color: #DB5643;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    margin: 1rem 0;
}

.track-info-container__owner {
    display: flex;
    align-items: center;
}

.track-info-container__owner__avatar {
    width: 3rem;
    height: 3rem;
}

.track-info-container__owner__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.track-info-container__owner__data {
    margin-left: 1.5rem;
}

.track-info-container__owner__name {
    font-weight: 500;
    padding-bottom: .3rem;
}

.track-info-container__owner__location {
    font-size: .9rem;
    color: #949494;
}

.track-info-container__progress {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.track-info-container__progress div {
    padding: .7rem 2.5rem;
    background-color: #eee;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.track-info-container__progress div:first-child {
    margin-left: 0;
}

.track-info-container__progress div:last-child {
    margin-right: 0;
}

.track-info-container__progress div span {
    font-weight: 500;
}

.track-info-container__progress__details {
    font-size: .8rem;
    color: #949494;
    margin-top: .3rem;
}

.track-info-container__back-song-btn {
    width: 100%;
    text-align: center;
    padding: .7rem;
    margin-top: 2rem;
    background-color: #DB5643;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
}

.track-info-container__back-song-btn:hover {
    background-color: #a3513e;
}

.track-info-container__tabs {
    flex: 1 1;
    margin: 2rem;
}

.track-info-container__tabs__title {
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: .3rem;
    padding-left: 1rem;
}

.track-info-container__tabs__body {
    margin-top: 1rem;
}

.track-info-container__comments-box {
    padding: 1rem;
    border-radius: 3px;
    background-color: #f4f4f4;
}

.track-info-container__comments-box textarea {
    width: 100%;
    resize: none;
    border-radius: 3px;
    border-color: #ccc;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

.track-info-container__comments-box__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

.track-info-container__comments-box__actions__limit {
    margin-right: 1rem;
    color: #bdbdbd;
    font-size: .9rem;
}

.track-info-container__comment {
    display: flex;
    align-items: center;
    margin: 2rem 1rem 1rem 1rem;
}

.track-info-container__comment__avatar {
    width: 3rem;
    height: 3rem;
}

.track-info-container__comment__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.track-info-container__comment__data {
    margin-left: .8rem;
    font-size: .9rem;
}

.track-info-container__comment__header {
    display: flex;
}

.track-info-container__comment__header__name {
    margin-right: .8rem;
    font-weight: 500;
}

.track-info-container__comment__header__date {
    color: #949494;
}

.track-info-container__comment__text {
    margin-top: .5rem;
}

.track-info-container__campaign_content {
    width: 60%;
}

.track-info-container__information {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 1rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .2s ease-in;
    margin-top: 20px;
    background-color: #f4f4f4;
}

.track-info-container__information:hover {
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
}

.track-info-container__information__icon {
    height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.track-info-container__information__icon img {
    height: 100%;
    position: absolute;
    transition: visibility .1s ease;
}

.track-info-container__information__iconoriginal {
    visibility: visible;
}

.track-info-container__information__icon-hovered {
    visibility: hidden;
}

.track-info-container__information__title {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    flex: 1;
    line-height: 1.2;
    transition: color .3s ease-in-out;
    text-align: center;
}

.track-info-container__information__sub-title {
    color: gray;
    flex: 1;
    line-height: 1.2;
    font-size: 1.0rem;
    text-align: center;
    transition: color .3s ease-in-out;
}

.track-info-container__share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: all .2s ease-in;
}

.track-info-container__share_fav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    transition: all .2s ease-in;
}

.track-info-container__share_link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    transition: all .2s ease-in;
}
