.how-does-it-works {
    padding: 2rem 4rem;
    font-family: 'Roboto', sans-serif;
}

.how-does-it-works__title {
    font-size: 2.0rem;
    text-align: center;
    font-weight: 700;
}

.how-does-it-works__features {
    display: flex;
    margin: 3rem 2rem 0 2rem;
    justify-content: center;
    align-items: center;
}

.how-does-it-works__feature {
    max-width: 340px;
    min-height: 150px;
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 1rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .2s ease-in;
}

.how-does-it-works__feature:hover {
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    transform: scale(1.05);
}

.how-does-it-works__feature__icon {
    height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.how-does-it-works__feature__icon img {
    height: 100%;
    position: absolute;
    transition: visibility .1s ease;
}

.how-does-it-works__feature__icon-original {
    visibility: visible;
}

.how-does-it-works__feature__icon-hovered {
    visibility: hidden;
}

.how-does-it-works__feature__title {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    flex: 1;
    line-height: 1.2;
    transition: color .3s ease-in-out;
    text-align: center;
}

.how-does-it-works__feature__sub-title {
    color: gray;
    flex: 1;
    line-height: 1.2;
    font-size: 1.0rem;
    text-align: center;
    transition: color .3s ease-in-out;
}

@media all and (max-width: 1000px) {
    .how-does-it-works__features {
        flex-direction: column;
    }

    .how-does-it-works__feature {
        width: 100%;
    }
}
