
.campaign__media {
    flex: 1;
    width: 60%;
    margin: 2rem;
}

.campaign__media-big {
    height: 20rem;
}

.campaign__media__item {
    height: 100%;
    text-align: center;
}

.campaign__media__item img {
    height: 100%;
}

.campaign__media-small {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.campaign__media-small__item {
    height: 5rem;
    margin-right: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
}

.campaign__media-small__item.active {
    border-color: #DB5643;
}

.campaign__media-small__item:last-child {
    margin-right: 0;
}

.campaign__media-small__item img {
    height: 100%;
}
