.fammy-top {
    padding: 2rem 4rem;
    font-family: 'Roboto', sans-serif;
}

.fammy-top__title {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}

.fammy-top__show-more-container {
    text-align: center;
    margin: 2rem 0;
}
