.checkout-details__back-song-btn {
    width: 100%;
    height: 48px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #DB5643;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
}

.checkout-details__back-song-btn:hover {
    background-color: #a3513e;
}

.checkout-top-container {
    height:100vh;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #cc7c70;
    justify-content: center;
}

.checkout{
    width: 500px;
    margin: 0 auto 20px;
    background-color: #fbf9ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
}

.checkout-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #949494;
    border-radius: 5px;
    border-width: 1px;
}

.checkout-form:hover {
    border-color: #000000;
}

.checkout-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-element {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

#mainLogo {
    display: flex;
    align-items: center;
}

#mainLogo img {
    height: 2.5rem;
    width: 8rem;
    cursor: pointer;
}

