.footer-background-view {
    background-color: #fdfdfd;
    height: 30px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

#mainLogo {
    display: flex;
    align-items: center;
}

#mainLogo img {
    height: 2.5rem;
    width: 8rem;
    cursor: pointer;
}

.footer-official-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-social_image {
    height: 17px;
}

.footer-social_image img {
    width: 100%;
    height: 100%;
}
