.create-campaign-top-container {
    height:100vh;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #cc7975;
    justify-content: center;
}

.create-campaign-signup{
    margin: 20px 20px 20px 20px;
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
}

.create-campaign-horizontal-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.create-campaign-horizontal-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.create-campaign-horizontal-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

.create-campaign-btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mainLogo {
    display: flex;
    align-items: center;
}

#mainLogo img {
    height: 2.5rem;
    width: 8rem;
    cursor: pointer;
}
