
.track-info-container__tips {
    flex: 1 1;
    margin-top: 2rem;
    margin-right: 2rem;
}

.track-info-container__tabs__title_without_broder {
    font-weight: 500;
    padding-bottom: .3rem;
    color: #949494;
}

.track-info-container__information {
    -webkit-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    box-shadow: 0 0 18px -3px rgba(204, 204, 204, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .2s ease-in;
    margin-top: 20px;
    /*background-color: #f4f4f4;*/
}

.track-info-container__information:hover {

}

.track-info-container__information__icon {
    height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.track-info-container__information__icon img {
    height: 100%;
    position: absolute;
    transition: visibility .1s ease;
}

.track-info-container__information__iconoriginal {
    visibility: visible;
}

.track-info-container__information__icon-hovered {
    visibility: hidden;
}

.track-info-container__information__title {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    flex: 1;
    line-height: 1.2;
    transition: color .3s ease-in-out;
    text-align: center;
}

.track-info-container__information__sub-title {
    color: gray;
    flex: 1;
    line-height: 1.2;
    font-size: 1.0rem;
    text-align: center;
    transition: color .3s ease-in-out;
}
